@model SmartMenu.Models.Language.CreateLanguageViewModel
@{
    ViewData["Title"] = "Add Language";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form id="createLanguageForm" asp-action="CreateLanguage" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input asp-for="IsDefault" class="form-check-input" type="checkbox" />
                    <label asp-for="IsDefault" class="form-check-label"></label>
                </div>
                <div class="mb-3 form-check">
                    <input asp-for="IsRtl" class="form-check-input" type="checkbox" />
                    <label asp-for="IsRtl" class="form-check-label"></label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Add Language</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}